#home {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

#home #profile {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

#home-header #playAudio {
  -webkit-appearance: none;
  width: 90%;
  height: 27px;
  border-radius: 5px;
  border: 2px solid #3f3f3f;
  background-color: #f6f6f6;
}

#home-header #playAudio::-webkit-media-controls-time-remaining-display,
#playAudio::-webkit-media-controls-current-time-display {
  display: none;
}

#home #profile .profile-info {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#home #profile img {
  width: 80%;
  height: 45%;
  object-fit: contain;
  margin-bottom: 15px;
}

#home #profile .profile-info .profile-text {
  width: 80%;
  height: 50%;
  overflow-y: auto;
  overflow-wrap: break-word;
}

#home #profile .profile-info .profile-text > p {
  margin-bottom: 15px;
  font-size: 13px;
}

#home #profile .already-ilchon-button {
  width: 200px;
  height: 36px;
  border: 3px solid #848484;
  border-radius: 5px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'dunggeunmo';
  font-size: 15px;
}

#home #profile .ilchon-button {
  width: 200px;
  height: 36px;
  background: #e9f2ff;
  border: 3px solid #848484;
  border-radius: 5px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'dunggeunmo';
  font-size: 15px;
  cursor: pointer;
}

#home #updated-news {
  width: 100%;
  height: 100%;
  padding: 30px 80px;
  display: flex;
  flex-direction: column;
}

#updated-news .updated-news-top {
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 10px;
}

#updated-news .updated-news-top .updated-diary-list {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#updated-news .updated-news-top .updated-diary-list > p {
  font-size: 18px;
  color: #1d8eae;
}

#updated-news .updated-news-top .updated-diary-list > hr {
  margin: 10px 0;
  width: 100%;
  height: 1px;
  background-color: black;
  border: none;
}

#updated-news .updated-news-top .updated-diary-list .diary-list-box {
  width: 100%;
}

#updated-news .updated-news-top .updated-diary-list li {
  margin-bottom: 7px;
  width: 100%;
}

#updated-news .updated-news-top .updated-diary-list li > button {
  background-color: transparent;
  border: none;
  font-size: 15px;
  font-family: 'dunggeunmo';
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 90%;
  text-align: left;
  cursor: pointer;
}

#updated-news table {
  width: 38%;
  border-collapse: collapse;
  border: 1px solid black;
  margin-right: 20px;
}

#updated-news td {
  width: 50%;
  height: 35px;
  border-collapse: collapse;
  border: 1px solid black;
  text-align: center;
  font-size: 14px;
}

#updated-news .updated-news-bottom {
  height: 70%;
  width: 100%;
}

#updated-news .updated-news-bottom > p {
  font-size: 18px;
  color: #1d8eae;
  margin-bottom: 10px;
  margin-top: 20px;
}

#updated-news .updated-news-bottom .updated-photo-zone {
  background: rgba(196, 196, 196, 0.23);
  border-radius: 10px;
  height: 85%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#updated-news .updated-news-bottom .photo-preview {
  width: 28%;
  height: 95%;
  object-fit: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  font-family: 'dunggeunmo';
}

#updated-news
  .updated-news-bottom
  .updated-photo-zone
  .photo-preview
  > p:nth-of-type(1) {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 15px;
  margin-bottom: 10px;
  text-align: center;
}

#updated-news
  .updated-news-bottom
  .updated-photo-zone
  .photo-preview
  > p:nth-of-type(2) {
  width: 100%;
  font-size: 14px;
}

#updated-news .updated-news-bottom .updated-photo-zone .photo-preview > img {
  width: 100%;
  height: 65%;
  object-fit: contain;
  margin-bottom: 5px;
  cursor: pointer;
}

@media (min-width: 1600px) {
  #home #profile .profile-info .profile-text > p {
    margin-bottom: 20px;
    font-size: 16px;
  }

  #home #profile .profile-info .profile-text {
    overflow-y: auto;
    max-width: 260px;
  }

  #home #profile .ilchon-button {
    width: 270px;
    height: 44px;
    margin-bottom: 30px;
    font-size: 18px;
  }

  #updated-news .updated-news-top .updated-diary-list > p {
    font-size: 20px;
  }

  #updated-news .updated-news-top .updated-diary-list li {
    margin-bottom: 11px;
  }

  #updated-news .updated-news-top .updated-diary-list li > button {
    font-size: 16px;
  }

  #updated-news table {
    margin-right: 30px;
  }

  #updated-news td {
    height: 43px;
    font-size: 16px;
  }

  #updated-news .updated-news-bottom > p {
    font-size: 20px;
    margin-bottom: 10px;
  }

  #updated-news .updated-news-bottom .updated-photo-zone {
    height: 85%;
  }

  #updated-news .updated-news-bottom .updated-photo-zone .photo-preview > p {
    font-size: 14px;
  }
}
