.Calendar {
  margin-bottom: 140px;
  padding-left: 40px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Year {
  font-family: "SEBANG";
  font-size: 2.4rem;
  font-style: italic;
  color: #1864ab;
}

.Month {
  font-family: "SEBANG";
  font-size: 1.55rem;
  font-style: italic;
  color: #1864ab;
}

/* 캘린더 일전체 컨테이너 
  className Day 디자인*/
.Day {
  position: relative;
  width: auto;
  height: 3.5rem;
  font-size: 1.4rem;
  color: #005096;
  align-content: center;

  .weaklistContainer {
    //weaklist 설정 scss
    //value 나 index값을 통해서
    // 요일별 색상 분리하기
    //평일 검정, 공휴일/일요일 빨간색/ 토요일 파란색
    .Weaklist {
      font-family: "Nanum Myeongjo";
      font-size: 0.8em;
      width: 5rem;
      height: 4rem;
      margin-right: 4.8em;
      align-items: center; //수직 중앙 정렬
      justify-content: center; //수평 중앙 정렬
      color: black;
      text-align: center;
    }
  }

  /* 오늘자 기준 날짜 배열 Daylist */
  .Daylist {
    font-family: "SEBANG";
    font-size: 1.3rem;
    width: 5rem;
    height: 4rem;
    padding: 0.8rem;
    border-radius: 20%;
    margin-right: 5rem;
    margin-left: 1rem;
    align-items: center; //수직 중앙 정렬
    justify-content: center; //수평 중앙 정렬

    &:hover {
      background: rgb(12, 86, 129);
      color: white;
    }

    &:nth-child(1) {
      border: 0.04rem solid rgb(12, 86, 129);
    }
  }
  //첫번째 요소 border line 때문에 지금 크기가 안맞음.

  /* 기존의 버튼 이벤트를 위해서만 작성 안보이게 만듬 */
  .calendarButton {
    position: relative;
    width: 0;
    height: 0;
    position: absolute;
    opacity: 0;
  }

  /* 아이콘의 크기는 폰트 사이즈로 조절 가능 */
  .calendarIcon {
    margin-bottom: -12px;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
  }
}