#make-diary {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

#make-diary .diary-diarylist {
  width: 100%;
  height: 100%;
  padding: 0% 5%;
  margin-top: 20px;
}

#make-diary .make-diary-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#make-diary .make-diary-box {
  border: solid 3px #dadada;
  border-radius: 20px;
  padding: 2% 4%;
  height: 85%;
  width: 80%;
}

.make-diary-button {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.make-diary-button .make-diary-cancel {
  padding: 10px 40px;
  font-size: 15px;
  color: white;
  background-color: #a0a0a0;
  border: transparent;
  border-radius: 5px;
  font-family: 'dunggeunmo';
  cursor: pointer;
}

.make-diary-button .make-diary-upload {
  padding: 10px 30px;
  font-size: 15px;
  cursor: pointer;
  color: white;
  background-color: #4bb6d1;
  border: transparent;
  border-radius: 5px;
  font-family: 'dunggeunmo';
  cursor: pointer;
}

.make-diary-header > input {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.05);
  border: transparent;
  height: 35px;
  width: 250px;
  font-family: 'dunggeunmo';
  padding-left: 10px;
}

.make-diary-header > input:focus {
  outline: none;
}

.make-diary-header .make-diary-header-div {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
  position: relative;
}

.make-diary-header .make-diary-header-visible {
  display: flex;
  align-items: center;
}

.make-diary-header .make-diary-header-visible > p {
  display: inline;
  margin-right: 5px;
  font-size: 15px;
}

.make-diary-header .make-diary-input {
  background-color: transparent;
  border-radius: 7px;
  border: 3px solid rgba(0, 0, 0, 0.05);
  font-family: 'dunggeunmo';
  display: flex;
  align-items: center;
  padding: 0 5px;
}

.make-diary-header .make-diary-list {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 30px;
}

.make-diary-header .make-diary-listitem {
  background-color: transparent;
  border-width: 2px 2px 2px 2px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  font-family: 'dunggeunmo';
  font-size: 13px;
  line-height: 25px;
  padding: 0px 10px;
  background-color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.record-video .record-video-btn-div {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.record-video .record-video-btn {
  padding: 8px 20px;
  font-size: 13px;
  cursor: pointer;
  color: white;
  background-color: #4bb6d1;
  border: transparent;
  border-radius: 5px;
  font-family: 'dunggeunmo';
}

.record-video .record-video-cancel-btn {
  padding: 8px 20px;
  font-size: 13px;
  cursor: pointer;
  color: white;
  background-color: #a0a0a0;
  border: transparent;
  border-radius: 5px;
  font-family: 'dunggeunmo';
}

.record-video .video-div {
  border-radius: 15px;
}

.record-voice .record-voice-btn {
  border: transparent;
  background-color: transparent;
  cursor: pointer;
}

.record-voice .sound-wave {
  display: flex;
  align-items: center;
}

.record-voice .bar {
  width: 4px;
  background-color: #505861;
  margin-right: 5px;
}

.record-voice .bar:nth-child(1),
.record-voice .bar:nth-child(10) {
  height: 15px;
}

.record-voice .bar:nth-child(4n) {
  height: 25px;
}
.record-voice .bar:nth-child(4) {
  height: 10px;
}
.record-voice .bar:nth-child(3) {
  height: 30px;
}
.record-voice .bar:nth-child(6) {
  height: 16px;
}

.record-voice .bar:nth-child(2),
.record-voice .bar:nth-child(5),
.record-voice .bar:nth-child(7),
.record-voice .bar:nth-child(9) {
  height: 20px;
}

.record-voice .sound-bar {
  width: 4px;
  height: 15px;
  background-color: #505861;
  margin-right: 5px;
  transform: scaleY(1);
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}
.record-voice .sound-bar:nth-child(4n) {
  animation-name: bar-scale-xl;
  animation-duration: 0.8 + 0.2s;
}
.record-voice .sound-bar:nth-child(4) {
  animation-duration: 0.8 + 0.35s;
}
.record-voice .sound-bar:nth-child(3) {
  animation-name: bar-scale-lg;
  animation-duration: 0.8 + 0s;
}
.record-voice .sound-bar:nth-child(6) {
  animation-name: bar-scale-md;
  animation-duration: 0.8 + 0.05s;
}

.record-voice .sound-bar:nth-child(2),
.record-voice .sound-bar:nth-child(5),
.record-voice .sound-bar:nth-child(7),
.record-voice .sound-bar:nth-child(9) {
  animation-name: bar-scale-sm;
  animation-duration: 0.9s;
}

@keyframes bar-scale-sm {
  0%,
  50% {
    transform: scaleY(1);
  }
  25% {
    transform: scaleY(6);
  }
  75% {
    transform: scaleY(4);
  }
}

@keyframes bar-scale-md {
  0%,
  50% {
    transform: scaleY(2);
  }
  25% {
    transform: scaleY(6);
  }
  75% {
    transform: scaleY(5);
  }
}

@keyframes bar-scale-lg {
  0%,
  50% {
    transform: scaleY(8);
  }
  25% {
    transform: scaleY(4);
  }
  75% {
    transform: scaleY(6);
  }
}

@keyframes bar-scale-xl {
  0%,
  50% {
    transform: scaleY(1);
  }
  25% {
    transform: scaleY(7);
  }
  75% {
    transform: scaleY(9);
  }
}

.record-voice .wrapper-div {
  display: flex;
  justify-content: center;
  margin-top: 7%;
  align-items: center;
}

.record-text-div {
  display: flex;
  justify-content: center;
  padding: 10px 0px;
}

.record-text {
  width: 85%;
  margin-top: 3%;
  background: rgba(196, 196, 196, 0.23);
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 14px;
  line-height: 30px;
  padding: 15px;
  font-family: 'dunggeunmo';
}

.record-video {
  height: 100%;
}

.record-video .record-video-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 68%;
  padding-right: 3px;
}

.record-video .record-video-box::-webkit-scrollbar {
  width: 5px;
}

.record-video .record-video-box::-webkit-scrollbar-track {
  background-color: #cccccc;
  border-radius: 8px;
  max-height: 10px;
}

.record-video .record-video-box::-webkit-scrollbar-thumb {
  background-color: #494949;
  border-radius: 8px;
}

.record-video .record-video-text {
  width: 95%;
  min-height: 100px;
  margin-top: 3%;
  background: rgba(196, 196, 196, 0.23);
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 14px;
  line-height: 30px;
  padding: 15px;
  font-family: 'dunggeunmo';
}

.upload-picture {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 280px;
  overflow-y: auto;
  overflow-x: hidden;
}

.upload-picture .upload-picture-box {
  width: 90%;
  height: 55%;
  margin-top: 3%;
  background: #c4c4c4;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
}

.upload-picture .upload-picture-img-btn {
  background-color: transparent;
  border: transparent;
  cursor: pointer;
  /* height: 200px; */
  height: 70%;
}

.upload-picture .upload-picture-img {
  max-width: 100%;
  max-height: 100%;
}
