#photobooth {
    width: 100%;
    height: 100%;
  
    display: flex;

}

#photobooth .bg-white-left .photo-preview-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height:100%;
}

#photobooth .bg-white-left .photo-preview-box > p{
    width: 80%;
    text-align: left;
    color: #4BB6D1;
    margin-bottom: 15px;
}

#photobooth #session {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#photobooth .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

#photobooth #video-container {
    width: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#photobooth video {
    height: 290px;
    object-fit: cover;
}


#photobooth .take-photo-btn{
    background: rgba(75, 182, 209, 0.87);
    border-radius: 12px;
    width: 200px;
    height: 50px;
    font-size: 18px;
    border: none;
    font-family: 'dunggeunmo';
    color: white;
    cursor: pointer;
    margin-right: 30px;
}

#photobooth .finish-photo-btn{
    background: rgba(75, 182, 209, 0.87);
    border-radius: 12px;
    width: 200px;
    height: 50px;
    font-size: 18px;
    border: none;
    font-family: 'dunggeunmo';
    color: white;
    cursor: pointer;
}

#photobooth .photo-btn-group {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}